@page "/atleta_incluir"
@using CadastroAtletasWasm.Helpers;
@using CadastroAtletaDll.DOs;
@inject NavigationManager NavigationManager

<PageTitle>Cadastro de Atletas</PageTitle>

<h1>Incluindo Atleta</h1>

<div>
    <div>
        <label class="form-label">Nome</label>
        <input class="form-control" @bind="@obj.Nome" />
    </div>
    <div>
        <label class="form-label">Altura</label>
        <input class="form-control" @bind="@obj.Altura" />
    </div>
    <div>
        <label class="form-label">Peso</label>
        <input class="form-control" @bind="@obj.Peso" />
    </div>
    <div class="mt-2">
        <button class="btn btn-success" @onclick="Gravar">Gravar</button>
        <a class="ml-1 btn btn-secondary" href="./atletas">Voltar</a>
    </div>
    
</div>
    
@code {
    private AcessoApi<AtletaDO> api = new AcessoApi<AtletaDO>("api/Atleta");

    private AtletaDO obj = new AtletaDO();

    [Parameter]
    public string Id { get; set; } = "";

    private async void Gravar()
    {
        var objRetorno = await api.InserirAsync(obj);
        
        if (objRetorno != null)
            NavigationManager.NavigateTo($"atleta_alterar/{objRetorno.Id}");
    }
}
